<div class="color_divider">
    <span class="color_divider--color"></span>
    <span class="color_divider--color"></span>
    <span class="color_divider--color"></span>
    <span class="color_divider--color"></span>
    <span class="color_divider--color"></span>
</div>
