.accordion__wrapper {
  margin: 0;
  padding-left: 0;
  color: $navy;
}

.accordion {
  list-style-type: none;

  &:nth-of-type(odd) {
    background-color: darken(#fff, 5%);
  }

  .container {
    @media screen and (max-width: 955px) {
      padding-left: 10px;
      padding-right: 15px;
    }
  }
}

.accordion__header {
  position: relative;
  cursor: pointer;

  &:before {
    content: "\f078";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    display: inline-block;
    transition: all 100ms ease;
    font-size: 1.6rem;
    padding: 0 10px;

    @media screen and (min-width: 956px) {
      font-size: 2rem;
    }
  }
}

.accordion__header.active:before {
  transform: rotate(180deg) translateY(-5px);
} 

.accordion__title {
  font-weight: 600;
  margin: 0;
  font-size: 1.6rem;
  margin-left: 45px;

  @media screen and (min-width: 956px) {
    font-size: 2rem;
    margin-left: 52px;
  }
}

.accordion__content {
  display: none;
  padding-top: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  margin-left: 45px;

  @media screen and (min-width: 956px) {
    line-height: 1.7;
    margin-left: 52px;
  }

  p {
    line-height: 1.7;
    letter-spacing: 0.01rem;
    margin: 0;
  }

  p + p {
    margin-top: 1.2rem;
  }

  ul {
    padding-left: 20px;
  }

  li {
    list-style-type: disc;
  }

  img.alignnone {
    padding: 0;
    margin: 0 auto;

    @media screen and (min-width: 956px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 956px) {
    .grid__12 + .grid__12 {
      margin-top: 2rem;
    }
  }
}