.menu__pageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 299;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}

.menu__close {
  width: 25px;
  height: 25px;
  @media (min-width: 796px) {
    align-self: flex-end;
    display: none;
  }
}

body.menu--open {
  overflow: hidden;

  .menu__pageOverlay {
    display: block;
    opacity: 1;
  }

  .menu {
    transform: translateX(0);
  }
}

@keyframes menu {
  0%,
  1% {
    opacity: 0;
    max-height: 0;
  }

  100%,
  99% {
    opacity: 1;
    max-height: 1000px;
  }
}

.menu__header {
  .nav-menu-lang {
    display: none;
  }
}

.menu {
  @media (min-width: 796px) {
    margin: 0 100px 0 350px; 
  }

  .menu__header {
    @media (min-width: 796px) {
      display: none;
    }
  }

  .menu__nav--primary {
    display: flex;
    justify-content: flex-end;

    > li {
      padding: 0 25px;
    }

    .menu__item {
      position: relative;

      > ul li {
        display: none;
      }

      > ul:hover li {
        display: block;
      }

      .toggle {
        position: absolute;
        left: -40px;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: 796px) {
          left: 0px;
          top: 11px;
          width: 20px;
          height: 20px;
        }

        .menu__icon {
          display: inline-block;
          transition: all 100ms ease;
          background-image: url(../../assets/img/chevron-down.svg);
          background-position: top left;
          background-repeat: no-repeat;
          background-size: 18px auto;
          width: 18px;
          height: 12px;

          @media (min-width: 476px) {
            width: 20px;
            background-size: 20px auto;
          }

          @media (min-width: 796px) {
            width: 15px;
            background-size: 15px;
          }
        }
      }
    }
  }
}

