.post__listing {

  .title--styled {
    margin-top: 0;
  }

  .view-all-btn {
    display: inline-block;
    border: 2px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 250ms ease;
    padding: 0.8rem 1rem;
  }

  .view-all-btn {
    background-color: #0f5169; 
    color: #fff;
    margin: 30px auto 0;
    
    &:hover,
    &:focus {
      background-color: transparent;
      color: #0f5169;
      border-color: #0f5169;
    }
  }

  &.events__wrapper {
    background-color: #c6e4cc;
  }
}

.upcoming-posts {
  @media (min-width: 956px) {
    display: flex;
    flex-wrap: wrap;
  }

  .post__item {
    text-align: center;
    padding: 25px;
    border: 2px solid $navy;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: $base-trans;
    display: block;

    @media (min-width: 956px) {
      margin: 15px;
      width: calc(33.33% - 30px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > * {
        flex: 1 1 100%;
      }
    }
  }

  .post__item__date {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $navy;
  }

  .post__item__title {
    color: $navy;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.6rem;
  }

  .post__item__link {
    text-transform: uppercase;
    background-color: $navy; 
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: $base-trans;
    padding: 0.6rem 0.8rem;
    display: inline-block;
    align-self: flex-end;
  }
}

.post__item:hover {
  background-color: $navy;

  .post__item__title,
  .post__item__date {
    color: #FFF;
  }
}