{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper">
        <article>
            <section class="article-content">
                <h1 class="article-h1">Message d’erreur – Page manquante</h1>
                <div class="article-body">
                    <p>Oups!</p>
                    <p>Il semble que cette page n’existe pas. Le lien vers cette page semble rompu ou la page a peut-être été déplacée.</p>
                    <p>
                        <a href="/fr" alt="Retourner à la page d’accueil">Retourner à la page d’accueil</a>
                    </p>
                </div>
            </section>
        </article>
    </div>
    <!-- /content-wrapper -->
{% endblock %}
