.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid--verticalGutter > * {
  margin-bottom: 1rem;
}

.grid__1 {
  width: calc(8.33333% - 1rem);
}

.grid__2 {
  width: calc(16.66667% - 1rem);
}

.grid__3 {
  width: calc(25% - 1rem);
}

.grid__4 {
  width: calc(33.33333% - 1rem);
}

.grid__5 {
  width: calc(41.66667% - 1rem);
}

.grid__6 {
  width: calc(50% - 1rem);
}

.grid__7 {
  width: calc(58.33333% - 1rem);
}

.grid__8 {
  width: calc(66.66667% - 1rem);
}

.grid__9 {
  width: calc(75% - 1rem);
}

.grid__10 {
  width: calc(83.33333% - 1rem);
}

.grid__11 {
  width: calc(91.66667% - 1rem);
}

.grid__12 {
  width: calc(100% - 1rem);
}

@media (min-width: 476px) {
  .grid__1--xs {
    width: calc(8.33333% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__2--xs {
    width: calc(16.66667% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__3--xs {
    width: calc(25% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__4--xs {
    width: calc(33.33333% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__5--xs {
    width: calc(41.66667% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__6--xs {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__7--xs {
    width: calc(58.33333% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__8--xs {
    width: calc(66.66667% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__9--xs {
    width: calc(75% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__10--xs {
    width: calc(83.33333% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__11--xs {
    width: calc(91.66667% - 1rem);
  }
}

@media (min-width: 476px) {
  .grid__12--xs {
    width: calc(100% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__1--sm {
    width: calc(8.33333% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__2--sm {
    width: calc(16.66667% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__3--sm {
    width: calc(25% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__4--sm {
    width: calc(33.33333% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__5--sm {
    width: calc(41.66667% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__6--sm {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__7--sm {
    width: calc(58.33333% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__8--sm {
    width: calc(66.66667% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__9--sm {
    width: calc(75% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__10--sm {
    width: calc(83.33333% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__11--sm {
    width: calc(91.66667% - 1rem);
  }
}

@media (min-width: 796px) {
  .grid__12--sm {
    width: calc(100% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__1--md {
    width: calc(8.33333% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__2--md {
    width: calc(16.66667% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__3--md {
    width: calc(25% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__4--md {
    width: calc(33.33333% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__5--md {
    width: calc(41.66667% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__6--md {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__7--md {
    width: calc(58.33333% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__8--md {
    width: calc(66.66667% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__9--md {
    width: calc(75% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__10--md {
    width: calc(83.33333% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__11--md {
    width: calc(91.66667% - 1rem);
  }
}

@media (min-width: 956px) {
  .grid__12--md {
    width: calc(100% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__1--lg {
    width: calc(8.33333% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__2--lg {
    width: calc(16.66667% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__3--lg {
    width: calc(25% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__4--lg {
    width: calc(33.33333% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__5--lg {
    width: calc(41.66667% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__6--lg {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__7--lg {
    width: calc(58.33333% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__8--lg {
    width: calc(66.66667% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__9--lg {
    width: calc(75% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__10--lg {
    width: calc(83.33333% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__11--lg {
    width: calc(91.66667% - 1rem);
  }
}

@media (min-width: 1116px) {
  .grid__12--lg {
    width: calc(100% - 1rem);
  }
}